.tile:hover { fill: blue; fill-opacity: 1.0; }
.selected { fill: cyan; fill-opacity: 0.6; }
#confirm {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
#confirm.active {
  background-color: #0000007f;
  opacity: 1;
  z-index: 1;
}
#confirm > div {
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  color: black;
  width: 20em;
  padding: 2em;
  top: 40%;
  width: 20em;
}
